.tournament {
  padding-top: 80px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }
  &__title {
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 700;
    line-height: 135%;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    span {
      color: #f54932;
    }
  }
  &__img-cont {
    position: relative;
    width: 394px;
    height: 250px;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tournament-price {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  &__title {
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 700;
    line-height: 135%;
    text-align: left;
    text-transform: uppercase;
    color: #313131;
    margin-bottom: 60px;
    span {
      color: #f54932;
    }
  }
  &__wrapper {
    margin-left: -10px;
    width: 704px;
    display: flex;
    flex-direction: column;
  }
  &__img-cont {
    position: relative;
    width: 529px;
    height: 670.2px;
  }
  &__img {
    position: absolute;
    top: -49px;
    left: -26px;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__group {
    display: flex;
    margin-bottom: 41px;
  }

  &__column {
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    &.price-col1 {
      width: 306px;
      border-right: 2px solid rgb(208, 208, 208);
    }
    &.price-col2 {
      font-weight: 600;
      & .tournament-price__column-item {
        padding-left: 16px;
      }
    }
    &-item {
      &:not(:first-child) {
        padding-top: 16px;
      }
      &:not(:last-child) {
        border-bottom: 2px solid rgb(208, 208, 208);
        padding-bottom: 16px;
      }
      span {
        text-decoration: line-through rgb(245, 73, 50);
      }
    }
  }
  &__text {
    color: rgb(48, 87, 162);
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
  }
}
