.transformation {
  padding-top: 58px;
  &__title-wrapper {
    position: relative;
    margin-bottom: 53px;
  }

  &__block {
  }

  &__title {
    color: rgb(49, 49, 49);
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    text-transform: uppercase;
  }

  &__title-text {
    position: absolute;
    bottom: 11px;
    left: 300px;
    z-index: 100;

    color: rgb(48, 87, 162);
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
  }
  &__items-wrapper {
    position: relative;
  }

  &__img {
    position: absolute;
    width: 401px;
    height: 235px;
    bottom: -3px;
    right: -63px;
  }
  &__item-block {
    color: rgb(49, 49, 49);
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;

    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 394px));
    grid-template-rows: repeat(2, 112px) 136px;
    gap: 20px;
  }

  &__item {
    position: relative;
    display: inline-block;
    padding: 20px 5px 20px 73px;
    background: rgb(233, 222, 212);
    &:nth-child(3) {
      grid-column: 3/4;
      grid-row: 1/3;
    }
    &:nth-child(7) {
      grid-column: 2/4;
      padding-right: 300px;
    }
    &:nth-child(1)::after {
      content: '1';
      @extend %pseudo;
    }
    &:nth-child(2)::after {
      content: '2';
      @extend %pseudo;
    }
    &:nth-child(3)::after {
      content: '3';
      @extend %pseudo;
    }
    &:nth-child(4)::after {
      content: '4';
      @extend %pseudo;
    }
    &:nth-child(5)::after {
      content: '5';
      @extend %pseudo;
    }
    &:nth-child(6)::after {
      content: '6';
      @extend %pseudo;
    }
    &:nth-child(7)::after {
      content: '7';
      @extend %pseudo;
    }
  }
}
