.header {
  position: relative;
  height: 700px;
  &__inner {
    padding-top: 30px;
    display: flex;
  }
  &__img {
    z-index: -1000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  &__logo {
    width: 92px;
    height: 31px;
  }
  &__logo-text {
    font-size: 16px;
    font-family: 'Golos Text';
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 8px;
  }
}
